<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="eBillProFashionHouse.My.MySettings.GSASDataConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Ankush\Desktop\Essential-Softech\Data\ES-eBillPro\dbESeBillProFashionHouse.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="eBillProFashionHouse.My.MySettings.GSASDataConnectionString1"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Ankush\Desktop\Essential-Softech\Data\ES-eBillPro\dbESeBillProFashionHouse.mdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <add key="DataPath" value="C:\Users\Ankush\Desktop\Essential-Softech\Data\ES-eBillPro" />
    <add key="BackupPath" value="C:\Users\Ankush\Desktop\Essential-Softech\FH Database Backup" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>